node_modules
.storybook
config
public
src
# !src/**/*.d.ts
storybook-static
.browserslistrc
.eslintignore
.eslintrc.js
.stylelintrc.js
babel.config.js
gulpfile.js
jest.config.js
pnpm-lock.yaml
postcss.config.js
*.html
es/stories/**/*
es/views/**/*
babel.config.build.js
tsconfig.json
tsconfig.build.json
README.md
.env
docs
.nojekyll